<a href="http://localhost:8000/polls/countryform/">1) Hashtag by country on Twitter</a> |
 <a href="http://localhost:8000/polls/twohashtagfrecuencyform/">2) Compare frecuency of 2 hashtags on Twitter</a> |
 <a href="http://localhost:8000/polls/countrytwohashtagform/">3) Compare 2 hashtags in one country on Twitter</a> |
<br/>
<br/>
<a href="http://localhost:8000/polls/keywordintwitterandredditform/">4) Compare 1 keyword on Twitter and Reddit</a> |
<a href="http://localhost:8000/polls/twokeywordintwitterandredditform/">5) Compare 2 keywords based on Twitter + Reddit</a>

<h1> 4) Compare 1 keyword in Twitter and Reddit </h1>
  


<form action="http://localhost:8000/polls/keywordintwitterandredditanalisis/" method="get">

    <label for="keyword">Keyword:</label><br />
    <input type="textbox" name="keyword" id="keyword" />

<input type="submit" value="Submit" />
</form>