 <a href="http://localhost:8000/polls/countryform/">1) Hashtag by country on Twitter</a> |
 <a href="http://localhost:8000/polls/twohashtagfrecuencyform/">2) Compare frecuency of 2 hashtags on Twitter</a> |
 <a href="http://localhost:8000/polls/countrytwohashtagform/">3) Compare 2 hashtags in one country on Twitter</a> |
<br/>
<br/>
<a href="http://localhost:8000/polls/keywordintwitterandredditform/">4) Compare 1 keyword on Twitter and Reddit</a> |
<a href="http://localhost:8000/polls/twokeywordintwitterandredditform/">5) Compare 2 keywords based on Twitter + Reddit</a>

 <h1> 5) Compare 2 keywords based on Twitter + Reddit </h1>


<form action="http://localhost:8000/polls/twokeywordintwitterandredditanalisis/" method="get">

    <label for="keyword1">Keyword 1:</label> <br />
    <input type="textbox" name="keyword1" id="keyword1" />
    <br />
    <br />
    <label for="keyword2">Keyword 2:</label><br />
    <input type="textbox" name="keyword2" id="keyword2" />

    <input type="submit" value="Submit" />
</form>